<extend name="Public/base"/>
<block name="body">
	<!-- 数据表格 -->
    <div class="data-table">
		<table style="width:30%;float:left;margin-right:30px;">
			<thead>
				<tr>
					<th>一级分类</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<foreach name="level1" item="vo" key="k">
				<if condition="$k%3 eq 0">
				<tr>
				</if>
					<td>{$vo['level1']}</td>
				<if condition="$k%3 eq 2">
				</tr>
				</if>
				</foreach>
			</tbody>
		</table>
		<table style="width:30%;float:left;margin-right:30px;">
			<thead>
				<tr>
					<th>二级分类</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<foreach name="level2" item="vo" key="k">
				<if condition="$k%3 eq 0">
				<tr>
				</if>
					<td>{$vo['level2']}</td>
				<if condition="$k%3 eq 2">
				</tr>
				</if>
				</foreach>
			</tbody>
		</table>
		<table style="width:30%;float:left;margin-right:30px;">
			<thead>
				<tr>
					<th>三级分类</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<foreach name="level3" item="vo" key="k">
				<if condition="$k%3 eq 0">
				<tr>
				</if>
					<td>{$vo['level3']}</td>
				<if condition="$k%3 eq 2">
				</tr>
				</if>
				</foreach>
			</tbody>
		</table>
	</div>
	<!-- 分页 -->
    <div class="page">
        {$_page}
    </div>
</div>

</block>
<block name="script">
</block>
