<extend name="Public/base"/>

<block name="body">
	<!-- 标题 -->
	<div class="main-title">
		<h2>
		</h2>
	</div>

	<!-- 按钮工具栏 -->
	<div class="cf">
		<div class="fl">
			<div class="btn-group">
				<a class="btn" href="{:U('add')}">新 增</a>
			</div>
            
		</div>
	</div>

	<!-- 数据表格 -->
    <div class="data-table">
		<table>
            <!-- 表头 -->
            <thead>
                <tr>
                    <th class="row-selected">
						<input class="checkbox check-all" type="checkbox">
					</th>
					<th>ID</th>
					<th>名字</th>
					<th>描述</th>
					<th style="width:50px;">策略数</th>
					<th style="width:50px;">股票数</th>
					<th style="width:50px;">类型</th>
					<th style="width:70px;">运行状态</th>
					<th style="width:70px;">发布状态</th>
					<th style="width:50px;">置顶</th>
					<th style="width:50px;">排序</th>
					<th style="width:100px;">操作</th>
                </tr>
            </thead>

            <!-- 列表 -->
            <tbody>
                <volist name="list" id="data">
                    <tr class="strategy_row">
                        <td><input class="ids row-selected" type="checkbox" name="id[]" value="{$data.id}"></td>
						<td>{$data.id}</td>
						<td><a href="{:U('edit?id='.$data['id'])}">{$data.title}</a></td>
						<td>{$data.attr}</td>
						<td>{$data.filters|count}</td>
						<td><font class="stocks_num">{$data.stock_num}</font></td>
						<td>{$data.type_name}</td>
						<td class="run_status">{$data.run_status_name}</td>
						<td>{$data.status_name}</td>
						<th><a class="ajax-get" href="{:U('is_top',array('id'=>$data['id']))}">{$data['is_top']?'是':'否'}</a></th>
						<th>
							<a class="ajax-get" href="{:U('ord',array('id'=>$data['id'],'type'=>'up'))}">▲</a>
							<a class="ajax-get" href="{:U('ord',array('id'=>$data['id'],'type'=>'down'))}">▼</a>
						</th>
						<td>
							<a title="编辑" href="{:U('edit?id='.$data['id'])}">编辑</a>
							<a class="confirm ajax-get" title="删除" href="{:U('del?id='.$data['id'])}">删除</a>
							<a class="run_class" data-id="{$data['id']}" data-url="{:U('run_filter?id='.$data['id'])}" title="运行" href='#'>运行</a>
						</td>
                    </tr>
                </volist>
            </tbody>
        </table>
	</div>
	<!-- 分页 -->
    <div class="page">
        {$_page}
    </div>
</div>

</block>
<block name="script">
<script type="text/javascript" src="__STATIC__/jquery.blockUI.js"></script>
<script type="text/javascript">
	var alertInfo=function(data){
		$.unblockUI();
		if (data.status==1) {
			if (data.url) {
				updateAlert(data.info + ' 页面即将自动跳转~','alert-success');
				setTimeout(function(){
					if (data.url) {
						location.href=data.url;
					}else {
						location.reload();
					}
				},1500);
			}else{
				updateAlert(data.info ,'alert-success');
					setTimeout(function(){
					if (data.url) {
						location.href=data.url;
					}else{
						$('#top-alert').find('button').click();
//						$(that).removeClass('disabled').prop('disabled',false);
					}
				},1500);
			}
			
		}else{
			updateAlert(data.info,'alert-error');
			setTimeout(function(){
				if (data.url) {
					location.href=data.url;
				}else{
					$('#top-alert').find('button').click();
//					$(that).removeClass('disabled').prop('disabled',false);
				}
			},1500);
		}
	}
	$(function(){
		$(".run_class").each(function(){
			$(this).click(function(e){
				$.blockUI({message:"等待运行结果......",css:{"height":'100px',"line-height":'100px',"font-size":'40px'}});
				var obj=$(e.target);
				var id=obj.data("id");
				var url=obj.data("url");
				$.post(url,{id:id},function(data){
					console.log(data);
					$.unblockUI();
					if(data.status==0){
						alertInfo(data);
						return;
					}

					obj.parent().parent().find(".stocks_num").text(data.stocks.length);
					obj.parent().parent().find(".run_status").text("已运行");
					$.unblockUI();
				});
			});
		});
	});
</script>
</block>
